<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h3 class="text-center text-primary h1"><i class="fas fa-pen-nib"></i>
            Writer</h3>
          <hr class="text-primary" />
          <h5 class="card-title text-center mb-5 fw-light fs-5">Share stories
            from your life</h5>
          <form>
            <div
              style="background-color: #ea4335;!important"
              class="d-grid mb-2 text-gray-100"
            >
              <a
                href="/auth/google"
                class="btn btn-google btn-login text-uppercase"
                type="submit"
              >
                <span style="color: white !important;">
                  Sign in with
                </span>
                <i
                  style="color: white !important;"
                  class="fab fa-google me-2"
                ></i>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>